[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
fastapi = "*"
setuptools = "*"
luigi = "*"
structlog = "*"


[dev-packages]
pytest = "*"
pytest-cov = "*"
requests-mock = "*"


[requires]
python_version = "3.7"
