{
    "gridPos": {
        "h": 5,
        "w": 24,
        "x": 0,
        "y": 0
    },
    "datasource": {
        "type": "prometheus",
        "uid": "sQ5xi_7nz"
    },
    "description": "{{description}}",
    "targets": [{
        "expr": "{{expression}}",
        "format": "time_series",
        "refId": "A"
    }],
    "title": "{{title}}",
    "type": "graph"
}