{
    "dashboard": {
        "editable": true,
        "panels": {{panels|tojson(indent=4)}},
        "schemaVersion": 34,
        "tags": [
            "templated"
        ],
        "time": {
            "from": "now-6h",
            "to": "now"
        },
        "timezone": "utc",
        "title": "{{host}} - {{host_type}}",
        "weekStart": "sunday"
    },
    "overwrite": true
}